.ticker-container {
    width: 100%;
    height: 2.9%;
    overflow: hidden;
}
.marquee-container {
    /* background-color: #bab3a0; */
    background-color: #763C9A;
    padding: 0.5rem 0;
}
.marquee-style {
    margin: 0 32px;
	/*background-color: #bab3a0;*/
	/**background-color:#b1b1b1;**//****wcag****/
	font-size: 1.2rem;
	font-family: 'Hind';
	color: #fff;
}