<app-header></app-header>
<ul class="nav justify-content-end" color=".bg-secondary">
  <li class="nav-item">
    <a class="nav-link" href="#home.component.html" ng-click="openToggle()">COVID Essentials</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Dropdown
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
      <a class="dropdown-item" href="#">Action</a>
      <a class="dropdown-item" href="#">Another action</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Something else here</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#hospitals-near-by.html">Hospitals Near By</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Locate Me</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Sign In</a>
  </li>
</ul>
<router-outlet></router-outlet>
<app-home></app-home>
<app-footer></app-footer>


